@charset "utf-8";
.fm1200, .fm960 {
	margin-top: 0
}
body {
	
}
.g-header {
	width: 100%;
	height: 72px;
	border-bottom: 1px solid #ddd
}
.g-header .g-header-in {
	margin: 0 auto
}
.g-header .logo {
	float: left;
	width: 225px;
	height: 39px;
	margin-top: 14px;
	background: url(//www.mogujie.com/img/pay/split.png) 0 0 no-repeat
}
.g-header .logo-cart {
	background: url(//www.mogujie.com/img/pay/split.png) -225px 0 no-repeat
}
.g-header .logo-generate {
	background: url(//www.mogujie.com/img/pay/split.png) -450px 0 no-repeat
}
.g-header .process-bar {
	float: right;
	width: 494px
}
.g-wrap {
*zoom:1
}
.md_process .md_process_wrap {
	position: relative;
	height: 23px;
	margin: 0 auto;
	padding: 18px 0 24px;
*zoom:1
}
.md_process .md_process_sd {
	position: absolute;
	top: 18px;
	left: 0;
	height: 23px
}
.md_process .md_process_i {
	position: absolute;
	top: 18px;
	width: 23px;
	height: 23px;
	font: 400 14px/23px helvetica, tahoma, arial, sans-serif;
	color: #fff;
	text-align: center
}
.md_process .md_process_tip, .md_process .md_process_tip_bt {
	position: absolute;
	top: 24px;
	width: 100px;
	height: 20px;
	left: 50%;
	margin-left: -50px;
	font: 400 12px/20px helvetica, tahoma, arial, sans-serif;
	color: #999
}
.md_process .md_process_tip_bt {
	top: auto;
	bottom: -28px
}
.md_process.md_process_len3 .md_process_wrap {
	width: 337px;
	background: url(//www.mogujie.com/img/pay/process_sd.png) 0 18px repeat-x
}
.md_process.md_process_len3 .md_process_sd {
	background: url(//www.mogujie.com/img/pay/process.png) 23px 0 repeat-x
}
.md_process.md_process_len3 .md_process_i1 {
	left: 0
}
.md_process.md_process_len3 .md_process_step1 .md_process_sd {
	width: 23px
}
.md_process.md_process_len3 .md_process_step1_5 .md_process_sd {
	width: 90px
}
.md_process.md_process_len3 .md_process_step1 .md_process_i1 .md_process_tip {
	color: #f46
}
.md_process.md_process_len3 .md_process_step1_5 .md_process_i1 .md_process_tip {
	color: #f46
}
.md_process.md_process_len3 .md_process_i2 {
	left: 157px
}
.md_process.md_process_len3 .md_process_step2 .md_process_sd {
	width: 180px
}
.md_process.md_process_len3 .md_process_step2_5 .md_process_sd {
	width: 247px
}
.md_process.md_process_len3 .md_process_step2 .md_process_i1 .md_process_tip {
	color: #f46
}
.md_process.md_process_len3 .md_process_step2_5 .md_process_i1 .md_process_tip {
	color: #f46
}
.md_process.md_process_len3 .md_process_step2 .md_process_i2 .md_process_tip {
	color: #f46
}
.md_process.md_process_len3 .md_process_step2_5 .md_process_i2 .md_process_tip {
	color: #f46
}
.md_process.md_process_len3 .md_process_i3 {
	left: 314px
}
.md_process.md_process_len3 .md_process_step3 .md_process_sd {
	width: 337px
}
.md_process.md_process_len3 .md_process_step3_5 .md_process_sd {
	width: 404px
}
.md_process.md_process_len3 .md_process_step3 .md_process_i1 .md_process_tip {
	color: #f46
}
.md_process.md_process_len3 .md_process_step3_5 .md_process_i1 .md_process_tip {
	color: #f46
}
.md_process.md_process_len3 .md_process_step3 .md_process_i2 .md_process_tip {
	color: #f46
}
.md_process.md_process_len3 .md_process_step3_5 .md_process_i2 .md_process_tip {
	color: #f46
}
.md_process.md_process_len3 .md_process_step3 .md_process_i3 .md_process_tip {
	color: #f46
}
.md_process.md_process_len3 .md_process_step3_5 .md_process_i3 .md_process_tip {
	color: #f46
}
.md_process.md_process_len3 .md_process_i4 {
	left: 471px
}
.md_process.md_process_len3 .md_process_step4 .md_process_sd {
	width: 494px
}
.md_process.md_process_len3 .md_process_step4_5 .md_process_sd {
	width: 561px
}
.md_process.md_process_len3 .md_process_step4 .md_process_i1 .md_process_tip {
	color: #f46
}
.md_process.md_process_len3 .md_process_step4_5 .md_process_i1 .md_process_tip {
	color: #f46
}
.md_process.md_process_len3 .md_process_step4 .md_process_i2 .md_process_tip {
	color: #f46
}
.md_process.md_process_len3 .md_process_step4_5 .md_process_i2 .md_process_tip {
	color: #f46
}
.md_process.md_process_len3 .md_process_step4 .md_process_i3 .md_process_tip {
	color: #f46
}
.md_process.md_process_len3 .md_process_step4_5 .md_process_i3 .md_process_tip {
	color: #f46
}
.md_process.md_process_len3 .md_process_step4 .md_process_i4 .md_process_tip {
	color: #f46
}
.md_process.md_process_len3 .md_process_step4_5 .md_process_i4 .md_process_tip {
	color: #f46
}
.md_process.md_process_len4 .md_process_wrap {
	width: 494px;
	background: url(//www.mogujie.com/img/pay/process_sd.png) 0 18px repeat-x
}
.md_process.md_process_len4 .md_process_sd {
	background: url(//www.mogujie.com/img/pay/process.png) 23px 0 repeat-x
}
.md_process.md_process_len4 .md_process_i1 {
	left: 0
}
.md_process.md_process_len4 .md_process_step1 .md_process_sd {
	width: 23px
}
.md_process.md_process_len4 .md_process_step1_5 .md_process_sd {
	width: 90px
}
.md_process.md_process_len4 .md_process_step1 .md_process_i1 .md_process_tip {
	color: #f46
}
.md_process.md_process_len4 .md_process_step1_5 .md_process_i1 .md_process_tip {
	color: #f46
}
.md_process.md_process_len4 .md_process_i2 {
	left: 157px
}
.md_process.md_process_len4 .md_process_step2 .md_process_sd {
	width: 180px
}
.md_process.md_process_len4 .md_process_step2_5 .md_process_sd {
	width: 247px
}
.md_process.md_process_len4 .md_process_step2 .md_process_i1 .md_process_tip {
	color: #f46
}
.md_process.md_process_len4 .md_process_step2_5 .md_process_i1 .md_process_tip {
	color: #f46
}
.md_process.md_process_len4 .md_process_step2 .md_process_i2 .md_process_tip {
	color: #f46
}
.md_process.md_process_len4 .md_process_step2_5 .md_process_i2 .md_process_tip {
	color: #f46
}
.md_process.md_process_len4 .md_process_i3 {
	left: 314px
}
.md_process.md_process_len4 .md_process_step3 .md_process_sd {
	width: 337px
}
.md_process.md_process_len4 .md_process_step3_5 .md_process_sd {
	width: 404px
}
.md_process.md_process_len4 .md_process_step3 .md_process_i1 .md_process_tip {
	color: #f46
}
.md_process.md_process_len4 .md_process_step3_5 .md_process_i1 .md_process_tip {
	color: #f46
}
.md_process.md_process_len4 .md_process_step3 .md_process_i2 .md_process_tip {
	color: #f46
}
.md_process.md_process_len4 .md_process_step3_5 .md_process_i2 .md_process_tip {
	color: #f46
}
.md_process.md_process_len4 .md_process_step3 .md_process_i3 .md_process_tip {
	color: #f46
}
.md_process.md_process_len4 .md_process_step3_5 .md_process_i3 .md_process_tip {
	color: #f46
}
.md_process.md_process_len4 .md_process_i4 {
	left: 471px
}
.md_process.md_process_len4 .md_process_step4 .md_process_sd {
	width: 494px
}
.md_process.md_process_len4 .md_process_step4_5 .md_process_sd {
	width: 561px
}
.md_process.md_process_len4 .md_process_step4 .md_process_i1 .md_process_tip {
	color: #f46
}
.md_process.md_process_len4 .md_process_step4_5 .md_process_i1 .md_process_tip {
	color: #f46
}
.md_process.md_process_len4 .md_process_step4 .md_process_i2 .md_process_tip {
	color: #f46
}
.md_process.md_process_len4 .md_process_step4_5 .md_process_i2 .md_process_tip {
	color: #f46
}
.md_process.md_process_len4 .md_process_step4 .md_process_i3 .md_process_tip {
	color: #f46
}
.md_process.md_process_len4 .md_process_step4_5 .md_process_i3 .md_process_tip {
	color: #f46
}
.md_process.md_process_len4 .md_process_step4 .md_process_i4 .md_process_tip {
	color: #f46
}
.md_process.md_process_len4 .md_process_step4_5 .md_process_i4 .md_process_tip {
	color: #f46
}
.widget_mtip_box {
	position: absolute;
	padding: 10px 18px;
	background: #fff;
	border: 1px solid #ddd;
	box-shadow: 0 1px 3px rgba(0,0,0,.1)
}
.widget_mtip_box .widget_mtip_line {
	color: #666;
	font: 400 12px/16px helvetica, tahoma, arial, sans-serif
}
.widget_mtip_box .widget_mtip_close {
	position: absolute;
	top: 3px;
	right: 3px;
	font: 400 12px/1 SimSun, sans-serif;
	width: 12px;
	height: 12px;
	text-align: center;
	color: #ddd;
	text-decoration: none;
	transition: all .3s;
	outline: 0
}
.widget_mtip_box .widget_mtip_close:hover {
	color: #333;
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg)
}
.widget_mtip_box .widget_mtip_ang, .widget_mtip_box .widget_mtip_shadow {
	position: absolute;
	width: 0;
	height: 0;
	font-size: 0;
	letter-spacing: 0;
	_overflow: hidden
}
.widget_mtip_box .widget_mtip_ang {
	border: 7px solid pink;
	border-color: transparent;
	_border-color: pink;
	_filter: chroma(color=#ffc0cb)
}
.widget_mtip_box .widget_mtip_shadow {
	border: 7px solid pink;
	border-color: transparent;
	_border-color: pink;
	_filter: chroma(color=#ffc0cb)
}
.mtip_top .widget_mtip_ang {
	margin-bottom: -15px;
	border-top-color: #ddd
}
.mtip_top .widget_mtip_shadow {
	margin-bottom: -14px;
	border-top-color: #fff
}
.mtip_bottom .widget_mtip_ang {
	margin-top: -15px;
	border-bottom-color: #ddd
}
.mtip_bottom .widget_mtip_shadow {
	margin-top: -14px;
	border-bottom-color: #fff
}
.mtip_left .widget_mtip_ang, .mtip_left .widget_mtip_shadow {
	top: 10px;
	right: 0
}
.mtip_left .widget_mtip_ang {
	margin-right: -15px;
	border-left-color: #ddd
}
.mtip_left .widget_mtip_shadow {
	margin-right: -14px;
	border-left-color: #fff
}
.mtip_right .widget_mtip_ang, .mtip_right .widget_mtip_shadow {
	top: 10px;
	left: 0
}
.mtip_right .widget_mtip_ang {
	margin-left: -15px;
	border-right-color: #ddd
}
.mtip_right .widget_mtip_shadow {
	margin-left: -14px;
	border-right-color: #fff
}
.address_pop .w140 {
	width: 140px
}
.address_pop .w100 {
	width: 100px
}
.address_pop .formsize_small {
	width: 40px
}
.address_pop .formsize_normal {
	width: 120px
}
.address_pop .formsize_large {
	width: 90%;
	_width: 396px
}
.address_pop {
	position: relative;
	padding: 20px 20px 20px 0;
	line-height: 38px
}
.address_pop dt {
	position: absolute;
	left: 0;
	width: 90px;
	color: #666;
	text-align: right
}
.address_pop dd {
	position: relative;
	padding-left: 106px;
*zoom:1
}
.address_pop .vm {
	vertical-align: middle
}
.address_pop .dt {
	margin-left: 12px;
	color: #666
}
.address_pop .prompt {
	padding-left: 8px;
	color: #999
}
.address_pop .breakline {
	display: block
}
.address_pop .notice {
	padding-left: 8px;
	color: #fa817e
}
.address_pop .needicon {
	position: absolute;
	top: 14px;
	left: 90px;
	color: #ff5a00;
	font-size: 14px;
	line-height: 14px;
	font-style: normal
}
.address_pop .confirm_btn {
	display: inline-block;
	width: 104px;
	height: 34px;
	background: url(//s9.mogujie.com/pic/140114/ubzlo_kqzekzkekrbdo6dwgfjeg5sckzsew_360x900.png) -200px -217px no-repeat;
	font: 0/0 a;
	overflow: hidden
}
.address_pop .cancel_btn {
	display: inline-block;
	width: 68px;
	height: 34px;
	background: url(//s9.mogujie.com/pic/140114/ubzlo_kqzekzkekrbdo6dwgfjeg5sckzsew_360x900.png) -200px -251px no-repeat;
	font: 0/0 a;
	overflow: hidden
}
.address_pop .confirm_btn:hover, .address_pop .cancel_btn:hover {
	opacity: .8;
	filter: alpha(opacity=80)
}
.address_pop .text {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 6px 8px;
	height: 12px;
	line-height: 12px;
	color: #666;
	border: 1px solid #c7c7c7;
	border-radius: 2px
}
.address_pop .text:focus {
	border: 1px solid #999
}
.address_pop .textarea {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 6px 8px;
	line-height: 16px;
	color: #666;
	border: 1px solid #c7c7c7;
	border-radius: 2px;
	vertical-align: top
}
.address_pop .textarea:focus {
	border: 1px solid #999
}
.address_pop input.error, .address_pop textarea.error, .address_pop input.error:focus, .address_pop textarea.error:focus {
	border: 1px solid #fa817e
}
.pt_ie6hack {
	_padding-top: 8px
}
.cart_wrap {
	background: #fff
}
.g-wrap {
	padding-top: 30px
}
.cart_stit {
	height: 46px;
	font: 700 14px/46px helvetica, tahoma, arial, sans-serif
}
.cart_money {
	font-family: 'Microsoft YaHei', sans-serif
}
.cart_largepding {
	padding-top: 16px!important;
	padding-bottom: 16px!important
}
.cart_im_btn {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url(//s6.mogujie.com/pic/140917/ubzlo_ieydmzldmq3tqojvmmytambqmmyde_16x19.gif) center center no-repeat;
	text-indent: -99999px
}
.cart_paybtn {
	display: block;
	width: 152px;
	height: 51px;
	margin-top: -1px;
	background: #ffa701 url(//s21.mogujie.com/pic/150511/1blhwf_ie2tiobvhfrdkojrgezdambqhayde_360x900.png) 0 -217px no-repeat;
	font: 0/0 a;
	overflow: hidden
}
.cart_paybtn.cart_paybtn_disable {
	display: block;
	width: 152px;
	height: 51px;
	margin-top: -1px;
	background: #d8d8d8 url(//s21.mogujie.com/pic/150511/1blhwf_ie2tiobvhfrdkojrgezdambqhayde_360x900.png) 0 -800px no-repeat;
	font: 0/0 a;
	overflow: hidden
}
.cart_surebtn {
	display: block;
	width: 172px;
	height: 51px;
	margin-top: -1px;
	background: #ffa701 url(//s21.mogujie.com/pic/150511/1blhwf_ie2tiobvhfrdkojrgezdambqhayde_360x900.png) 0 -267px no-repeat;
	font: 0/0 a;
	overflow: hidden
}
.cart_surebtn.cart_surebtn_disable {
	display: block;
	width: 172px;
	height: 51px;
	margin-top: -1px;
	background: #d8d8d8 url(//s21.mogujie.com/pic/150511/1blhwf_ie2tiobvhfrdkojrgezdambqhayde_360x900.png) 0 -850px no-repeat;
	font: 0/0 a;
	overflow: hidden;
	cursor: default
}
.cart_confirmadd_btn {
	display: inline-block;
	width: 104px;
	height: 34px;
	background: url(//s21.mogujie.com/pic/150511/1blhwf_ie2tiobvhfrdkojrgezdambqhayde_360x900.png) -200px -217px no-repeat;
	font: 0/0 a;
	overflow: hidden
}
.cart_canceladd_btn {
	display: inline-block;
	width: 68px;
	height: 34px;
	background: url(//s21.mogujie.com/pic/150511/1blhwf_ie2tiobvhfrdkojrgezdambqhayde_360x900.png) -200px -251px no-repeat;
	font: 0/0 a;
	overflow: hidden
}
.cart_im_btn:hover, .cart_paybtn:hover, .cart_surebtn:hover, .cart_confirmadd_btn:hover, .cart_canceladd_btn:hover {
	opacity: .8;
	filter: alpha(opacity=80)
}
.cart_uline {
	text-decoration: underline
}
.cart_hoverline:hover {
	text-decoration: underline
}
.cart_throughline {
	text-decoration: line-through
}
.cart_w68 {
	width: 68px
}
.cart_w100 {
	width: 100px
}
.cart_w140 {
	width: 140px
}
.cart_w180 {
	width: 180px
}
.cart_vm {
	vertical-align: middle
}
.cart_disablepointer {
	cursor: not-allowed
}
.cart_font14 {
	font-size: 14px
}
.cart_font18 {
	font-size: 18px
}
.cart_font16 {
	font-size: 16px!important
}
.cart_font26 {
	font-size: 26px
}
.cart_bold {
	font-weight: 700
}
.cart_pl8 {
	padding-left: 8px
}
.cart_pt8 {
	padding-top: 8px!important
}
.cart_pt20 {
	padding-top: 20px
}
.cart_mr14 {
	margin-right: 14px
}
.cart_mt14 {
	margin-top: 14px
}
.cart_lh20 {
	line-height: 20px
}
.mt1 {
	margin-top: 1px
}
.cart_alleft {
	text-align: left
}
.cart_alcenter {
	text-align: center
}
.cart_midcenter {
	vertical-align: middle!important
}
.cart_red {
	color: #ff4f7c
}
.cart_pregray {
	color: #666!important
}
.cart_lightgray {
	color: #999
}
.cart_icon_link {
	position: relative;
	padding-right: 20px
}
.cart_icon_quarw {
	position: absolute;
	top: 0;
	right: 0;
	width: 14px;
	height: 14px;
	background: url(//s21.mogujie.com/pic/150511/1blhwf_ie2tiobvhfrdkojrgezdambqhayde_360x900.png) -58px -141px no-repeat;
	text-indent: -99999px
}
.cart_icon_redarrow {
	display: inline-block;
	width: 16px;
	height: 22px;
	background: url(//s21.mogujie.com/pic/150511/1blhwf_ie2tiobvhfrdkojrgezdambqhayde_360x900.png) -54px -177px no-repeat;
	text-indent: -99999px
}
.cart_icon_redlink {
	display: inline-block;
	width: 16px;
	height: 22px;
	font-family: SimSun;
	font-style: normal;
	text-align: center;
	color: #ff4f7c
}
.cart_nobdbtm {
	border-bottom: none!important
}
.cart_back {
	padding-left: 16px;
	margin-left: 20px;
	background: url(//s21.mogujie.com/pic/150511/1blhwf_ie2tiobvhfrdkojrgezdambqhayde_360x900.png) -340px -3px no-repeat
}
.cart_formsize_small {
	width: 40px
}
.cart_formsize_normal {
	width: 120px
}
.cart_formsize_large {
	width: 460px
}
.cart_text {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 6px 8px;
	height: 12px;
	line-height: 12px;
	color: #666;
	border: 1px solid #c7c7c7;
	border-radius: 2px
}
.cart_text:focus {
	border: 1px solid #999
}
.cart_textarea {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 6px 8px;
	line-height: 16px;
	color: #666;
	border: 1px solid #c7c7c7;
	border-radius: 2px;
	vertical-align: top
}
.cart_textarea:focus {
	border: 1px solid #999
}
input.cart_error, textarea.cart_error, input.cart_error:focus, textarea.cart_error:focus {
	border: 1px solid #fa817e
}
.step_num_box {
	background: url(//s7.mogujie.com/pic/140217/o613k_kqzewtczkrbgerlwgfjeg5sckzsew_27x27.png) no-repeat;
	width: 27px;
	height: 27px;
	text-align: center;
	line-height: 27px;
	color: #fff;
	font-family: Arial;
	font-size: 17px;
	display: inline-block
}
.cart_tip_green {
	display: inline-block;
	padding: 1px 4px;
	background: #7fc800 url(//s6.mogujie.com/pic/140114/ubzlo_kqzgwzkzkrbegs2ugfjeg5sckzsew_4x128.png) 0 -114px repeat-x;
	border: 1px solid #66a600;
	color: #fff;
	font: 400 12px/1 helvetica, tahoma, arial, sans-serif;
	cursor: default;
	border-radius: 2px
}
.cart_tip_red {
	display: inline-block;
	float: right;
	height: 22px;
	padding: 0 8px;
	color: #333;
	line-height: 22px;
	cursor: default
}
.cart_tip_yellow {
	display: inline-block;
	padding: 4px 6px;
	color: #fb5e00;
	font-weight: 700;
	line-height: 12px
}
.cart_tip_redw {
	display: inline-block;
	padding: 4px 6px;
	color: #ff4f7c;
	font-weight: 700;
	line-height: 12px
}
.cart_tip_drop {
	display: inline-block;
	padding: 4px 6px;
	color: #666;
	line-height: 12px
}
.cart_tip_youpin {
	display: inline-block;
	padding: 0 6px;
	height: 16px;
	line-height: 16px;
	background: #333;
	color: #fff;
	cursor: pointer
}
.cart_tip_focuswidth {
	min-width: 64px
}
.cart_cou {
	float: right;
	_display: inline
}
.cart_cou .cart_tip_red {
	cursor: pointer
}
.cart_hidetip_list {
	color: #333;
	line-height: 18px
}
.cart_hidetip_list li {
	padding: 0 12px;
	background: url(//s21.mogujie.com/pic/150511/1blhwf_ie2tiobvhfrdkojrgezdambqhayde_360x900.png) -344px -36px no-repeat
}
.cart_page_wrap {
	padding: 20px 26px
}
.cart_slide li {
	float: left
}
.cart_slide_item {
	display: block;
	padding: 1px 11px;
	color: #333;
	font: 400 14px/28px helvetica, tahoma, arial, sans-serif;
	border-radius: 3px
}
.cart_slide_item_cur {
	padding: 0 10px;
	border: 1px solid #333;
	background: #333;
	color: #fff;
	font: 400 14px/28px helvetica, tahoma, arial, sans-serif
}
.cartslide-line {
	height: 28px;
	color: #ddd;
	line-height: 28px;
	margin-right: 10px
}
.cart_table {
	width: 100%
}
.cart_table .tr_checked {
	background: #f8f8f8
}
.cart_table th {
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
	padding: 15px 0;
	font-weight: 400
}
.cart_table td {
	border-bottom: 1px solid #efefef;
	padding: 16px 0;
	line-height: 24px;
	vertical-align: top
}
.cart_table td.vm {
	vertical-align: middle
}
.cart_table .tr_checkmr {
	margin-right: 5px
}
.cart_table .cart_group_head {
	padding: 32px 10px 5px;
	background: #fff
}
.cart_table .cart_group_head .act-tag-img {
	vertical-align: middle
}
.cart_table .cart_table_check_wrap {
	width: 56px
}
.cart_table .cart_table_goods_wrap {
	padding: 16px 10px;
	width: 280px
}
.cart_table .cart_table_goodsinfo_wrap {
	width: 140px;
	text-align: left
}
.cart_table .cart_table_goodssum_wrap {
	width: 100px
}
.cart_table .cart_table_goodscut_wrap {
	width: 180px
}
.cart_table .cart_table_goodsctrl_wrap {
	width: 80px
}
.cart_table th.cart_table_goods_wrap {
	padding: 8px 10px
}
.cart_goods_t {
	display: block;
	margin: 0 20px 0 90px;
	line-height: 20px;
	font-size: 14px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}
.cart_goods_img {
	float: left;
	position: relative
}
.cart_goods_img img {
	display: block;
	border: 1px solid #ccc
}
.cart_goods_img .event_tips {
	position: absolute;
	bottom: 1px;
	width: 78px
}
.cart_thcheck {
	display: block;
	margin-left: 10px
}
.cart_num {
	position: relative;
	width: 97px;
	height: 27px;
	margin: 0 auto 4px auto
}
.cart_num_add {
	position: absolute;
	cursor: pointer;
	width: 27px;
	height: 27px;
	top: 0;
	right: 0;
	background: url(//s21.mogujie.com/pic/150511/1blhwf_ie2tiobvhfrdkojrgezdambqhayde_360x900.png) 0 -140px no-repeat
}
.cart_num_reduce {
	position: absolute;
	cursor: pointer;
	width: 27px;
	height: 27px;
	top: 0;
	left: 0;
	background: url(//s21.mogujie.com/pic/150511/1blhwf_ie2tiobvhfrdkojrgezdambqhayde_360x900.png) 0 -180px no-repeat
}
.cart_num_input {
	position: absolute;
	border: 0;
	width: 43px;
	height: 12px;
	line-height: 12px;
	padding: 6px 0 7px;
	border: 1px solid #ddd;
	background: #fff;
	top: 0;
	left: 26px;
	text-align: center;
	color: #333
}
.cart_num .disable {
	opacity: .5;
	filter: alpha(opacity=50);
	cursor: not-allowed
}
.cart_table_note {
	width: 320px
}
.able_disduce {
	padding: 0 6px;
	font-size: 14px
}
.outline .cart_goods_t, .outline p {
	color: #ccc
}
.outline-tip {
	background: #EFEFEF;
	padding: 2px 6px;
	border-radius: 2px
}
.selected td {
	background: #fff
}
.outline td {
	background: #fff
}
.cart_orderbar {
	padding: 6px 0;
	height: 36px;
	line-height: 36px;
	border: 1px solid #ccc;
	background: url(//s6.mogujie.com/pic/140114/ubzlo_kqzgwzkzkrbegs2ugfjeg5sckzsew_4x128.png) 0 -66px repeat-x
}
.cart_order_sum {
	border-left: 1px dotted #bcbcbc
}
.cart_paybar {
	height: 50px;
	background: #fff;
	border-top: 1px solid #ddd;
	line-height: 50px;
	clear: both
}
.cart_paybar_info_cost {
	padding: 0 12px 0 8px
}
.cart_paybar_fixed {
	position: fixed;
	bottom: 0;
	z-index: 1
}
.cart_paybar_notip {
	padding-left: 24px;
	margin-top: 17px;
	font: 400 12px/16px helvetica, tahoma, arial, sans-serif;
	background: url(//s21.mogujie.com/pic/150511/1blhwf_ie2tiobvhfrdkojrgezdambqhayde_360x900.png) -334px -713px no-repeat
}
.cart_paybar_vmbox {
	position: relative;
	padding-left: 58px;
	width: 300px;
*zoom:1
}
.cart_paybar_vmbox .s_all_slave {
	position: absolute;
	left: 36px;
	top: 50%;
	margin-top: -6px;
*margin-top:-10px
}
.cart_surebtn_reserve, .cart_surebtn.cart_surebtn_reserve_disable, .cart_surebtn_final, .cart_surebtn.cart_surebtn_final_disable {
	width: 222px;
	background: url(//s6.mogujie.com/pic/140909/ubzlo_ieydaylegi4timbtmmytambqhayde_222x290.png) 0 0 no-repeat
}
.cart_surebtn.cart_surebtn_reserve_disable {
	background: url(//s6.mogujie.com/pic/140909/ubzlo_ieydaylegi4timbtmmytambqhayde_222x290.png) 0 -80px no-repeat
}
.cart_surebtn_final {
	background: url(//s6.mogujie.com/pic/140909/ubzlo_ieydaylegi4timbtmmytambqhayde_222x290.png) 0 -160px no-repeat
}
.cart_surebtn.cart_surebtn_final_disable {
	background: url(//s6.mogujie.com/pic/140909/ubzlo_ieydaylegi4timbtmmytambqhayde_222x290.png) 0 -240px no-repeat
}
.cart_paybar_reserve .reserve_tip {
	padding-right: 28px;
	border-left: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
	text-align: right;
	background-color: #fff;
	padding-bottom: 12px
}
.cart_paybar_reserve .reserve_tip span {
	display: inline-block;
	background: url(//s8.mogujie.com/pic/140124/o613k_kqzgetkfkrbfqvtwgfjeg5sckzsew_277x39.png) no-repeat;
	width: 277px;
	height: 39px;
	text-align: center;
	line-height: 30px
}
.cart_paybar_reserve .reserve_tip a {
	color: #2f63cf
}
.address_pop .confirm_btn {
	display: inline-block;
	width: 104px;
	height: 34px;
	background: url(//s21.mogujie.com/pic/150511/1blhwf_ie2tiobvhfrdkojrgezdambqhayde_360x900.png) -200px -217px no-repeat;
	font: 0/0 a;
	overflow: hidden
}
.address_pop .cancel_btn {
	display: inline-block;
	width: 68px;
	height: 34px;
	background: url(//s21.mogujie.com/pic/150511/1blhwf_ie2tiobvhfrdkojrgezdambqhayde_360x900.png) -200px -251px no-repeat;
	font: 0/0 a;
	overflow: hidden
}
.cart_address_wrap {
	overflow: hidden;
	_width: 906px
}
.cart_address_list {
	position: relative;
	overflow: hidden
}
.cart_address_list li {
	float: left;
	margin-right: 10px;
	margin-bottom: 5px
}
.cart_address_list .cart_address_card {
	display: block;
	position: relative;
	padding: 5px 0px 0px;
	width: 120px;
	height: 80px;
	background: url(wtp3y_ieygcmjzmrqtkyrtmqytambqhayde_720x160.png) -120px 0 no-repeat;
	cursor: pointer
}
.cart_address_list .cart_address_card p {
	color: #666
}
.cart_address_list .cart_address_card:hover {
	background: url(wtp3y_ieygcmjzmrqtkyrtmqytambqhayde_720x160.png) -240px 0 no-repeat
}
.cart_address_list .cart_address_card.selected {
	background: url(wtp3y_ieygcmjzmrqtkyrtmqytambqhayde_720x160.png) 0 0 no-repeat
}
.cart_address_list .cart_address_card.selected:hover {
	background: url(wtp3y_ieygcmjzmrqtkyrtmqytambqhayde_720x160.png) 0 0 no-repeat
}
.s-selectedXm .cart_address_card.selected {
	background: url(wtp3y_ieygcmjzmrqtkyrtmqytambqhayde_720x160.png) -120px 0 no-repeat
}
.s-selectedXm .cart_address_card.selected:hover {
	background: url(wtp3y_ieygcmjzmrqtkyrtmqytambqhayde_720x160.png) -240px 0 no-repeat
}
.cart_address_default {
	position: absolute;
	right: 20px;
	top: 14px;
	width: 64px;
	height: 16px;
	background: url(//s21.mogujie.com/pic/150511/1blhwf_ie2tiobvhfrdkojrgezdambqhayde_360x900.png) 0 -624px no-repeat;
	text-indent: -99999px
}
.cart_address_tit {
	width: 135px;
	padding-bottom: 12px;
	font: 700 14px/26px helvetica, tahoma, arial, sans-serif;
	overflow: hidden;
	white-space: nowrap;
	word-break: break-all;
	text-overflow: ellipsis
}
.cart_address_street {
	overflow: hidden;
	max-height: 38px
}
.cart_address_xmstreet {
	overflow: hidden;
	max-height: 38px
}
.cart_address_edit {
	display: none;
	position: absolute;
	bottom: 10px;
	left: 85px;
	font-size: 12px;
	color: #666;
	font-style: normal;
	text-decoration: underline;
	white-space: nowrap
}
.cart_address_ctrl {
	padding: 12px 0
}
.cart_address_ctrl li {
	float: left;
	margin-right: 20px
}
.cart_address_ctrl li a {
	padding-left: 12px;
	background: url(//s21.mogujie.com/pic/150511/1blhwf_ie2tiobvhfrdkojrgezdambqhayde_360x900.png) -344px -36px no-repeat;
	color: #666
}
.cart_address_ctrl li a:hover {
	text-decoration: underline
}
.cart_address_other {
	position: relative;
	padding: 20px 0;
	border-top: 1px solid #f0f0f0;
	line-height: 38px
}
.cart_address_other dt {
	position: absolute;
	left: 0;
	width: 90px;
	color: #666;
	text-align: right
}
.cart_address_other dd {
	position: relative;
	padding-left: 106px;
*zoom:1
}
.cart_address_dt {
	margin-left: 12px;
	color: #666
}
.cart_address_other .prompt {
	padding-left: 8px;
	color: #999
}
.cart_address_other .notice {
	padding-left: 8px;
	color: #fa817e
}
.cart_address_other_hide {
	display: none
}
.cart_address_other_nobdtop {
	border-top: 1px solid #fff
}
.cart_address_needicon {
	position: absolute;
	top: 14px;
	left: 90px;
	color: #ff5a00;
	font-size: 14px;
	line-height: 14px;
	font-style: normal
}
.xm_wrap {
	display: none
}
.xm_wrap span {
	color: #333
}
.xm_wrap .xm_fw {
	color: #999
}
.xm_wrap .xm_line {
	height: 40px;
	line-height: 40px
}
.xm_wrap .xm_line_ud {
	border-bottom: 1px dashed #cdcdcd
}
.xm_wrap .xm_rtip {
	padding: 2px 6px;
	color: #fff;
	background: #999
}
.xm_wrap .xm_lh {
	font-weight: 700;
	color: #333
}
.xm_wrap .xm_qatip {
	width: 18px;
	height: 18px;
	background: url(//s21.mogujie.com/pic/150511/1blhwf_ie2tiobvhfrdkojrgezdambqhayde_360x900.png) -339px -75px no-repeat
}
.cart_mo9pay {
	padding: 25px 0 10px
}
.cart_mo9pay_t {
	padding-left: 50px;
	height: 50px;
	font: 700 20px/50px 'Microsoft YaHei', helvetica, tahoma, arial, sans-serif;
	color: #333;
	background: url(//s21.mogujie.com/pic/150511/1blhwf_ie2tiobvhfrdkojrgezdambqhayde_360x900.png) -300px -824px no-repeat
}
.cart_mo9pay_icon {
	padding: 0 5px;
	display: inline-block;
	text-indent: -99999px;
	width: 40px;
	height: 24px;
	background: url(//s21.mogujie.com/pic/150511/1blhwf_ie2tiobvhfrdkojrgezdambqhayde_360x900.png) -303px -768px no-repeat
}
.cart_mo9pay_flw {
	float: right;
	padding-top: 13px;
	line-height: 24px;
	height: 24px;
	_display: inline
}
.widget_mtip_box {
	padding: 10px
}
.cart_imgtip_wrap {
	width: 240px;
	height: 260px;
	overflow: hidden
}
.cart_fix_fbox {
	height: 20px;
	line-height: 20px
}
.cart_150imgcut {
	display: block;
	width: 150px;
	height: 150px;
	overflow: hidden
}
.stockpro {
	vertical-align: middle
}
.pay_history_tip, .pay_history_type {
	float: left;
	height: 58px;
	font: 700 12px/40px 'Microsoft YaHei';
	_display: inline
}
.pay_history_tip {
	padding-left: 31px;
	padding-right: 12px
}
.pay_history .b {
	height: 40px;
	padding-bottom: 18px;
	float: left;
	display: inline;
	margin-right: 14px;
	cursor: pointer;
	padding-left: 10px
}
.pay_history .b_cur label {
	border: 2px solid #ffbb38;
	padding: 0
}
.pay_history .b input {
	float: left;
	width: 13px;
	height: 13px;
	margin-top: 15px
}
.pay_history label {
	float: left;
	height: 40px;
	width: 172px;
	margin-left: 9px;
	display: inline;
	border: 1px solid #e6e6e6;
	cursor: pointer;
	padding: 1px;
	background: #fff
}
.pay_history label img {
	vertical-align: middle
}
.bank_list_more {
	clear: both;
	text-align: right;
	padding-right: 30px;
	padding-bottom: 20px;
	margin-top: -20px
}
.bank_list_more a {
	padding-left: 12px;
	background: url(//s21.mogujie.com/pic/150511/1blhwf_ie2tiobvhfrdkojrgezdambqhayde_360x900.png) -344px -36px no-repeat;
	color: #666
}
.bank_list_more a:hover {
	text-decoration: underline
}
.pay_history_wrap {
	margin-bottom: 30px;
	margin-top: 20px;
	background: #f5ffd6;
	border: 1px solid #bfdb8a
}
.pay_history_wrap .pay_history_tip {
	padding-top: 14px;
	height: 46px;
	color: #666;
	font: 400 12px/40px helvetica, tahoma, arial, sans-serif
}
.pay_history_wrap .pay_history {
	padding-top: 12px
}
.reserve_icon_on, .reserve_icon_off {
	background: url(//s6.mogujie.com/pic/140116/o613k_kqzeuvcdkrbhmx3wgfjeg5sckzsew_30x42.png) 3px 0 no-repeat;
	width: 33px;
	height: 16px;
	display: inline-block;
	vertical-align: -4px
}
.reserve_icon_off {
	background-position: 3px -26px
}
.reserve_sum_box {
	border: 1px solid #edeef1;
	position: relative;
	margin-top: 12px
}
.reserve_sum_box .arrow_icon {
	background: url(//s13.mogujie.com/pic/140122/o613k_kqzg6okfkrbgo6cugfjeg5sckzsew_24x15.png) no-repeat;
	width: 23px;
	height: 14px;
	display: block;
	position: absolute;
	right: 40px;
	top: -13px
}
.reserve_sum_box .cart_tr {
	text-align: right
}
.reserve_money {
	background-color: #f9f9f9;
	padding: 10px 0
}
.reserve_money p span {
	display: inline-block;
	width: 75px;
	font-size: 14px;
	color: #FF4F7C;
	line-height: 30px;
	font-weight: 700
}
.reserve_money p b {
	display: inline-block;
	line-height: 30px
}
.reserve_sum {
	line-height: 50px
}
.mu_browser_content_wrap {
	border: 1px solid #dbdbdb;
	border-top: none
}
.cart_orderbar .eb_hide {
	display: none
}
.nologin_buy_box .binding_get_code {
	background: url(//s6.mogujie.com/pic/140428/k2r2w_kqzfgtcbozbdi2dwgfjeg5sckzsew_203x204.png) no-repeat
}
.nologin_buy_box .binding_check_code, .nologin_buy_box h4, .nologin_buy_box .sub_easybuy_order {
	background: url(//s6.mogujie.com/pic/140429/151zr1_kqzfmztyozbews2ugfjeg5sckzsew_205x601.png) no-repeat
}
.nologin_buy_box {
	width: 415px;
	height: 215px
}
.nologin_buy_box .binding_tel_title {
	color: #666;
	padding: 20px 0 26px 30px
}
.nologin_buy_box .binding_input_line {
	height: 44px
}
.nologin_buy_box .binding_input_line span {
	width: 100px;
	height: 26px;
	line-height: 26px;
	overflow: hidden;
	text-align: right;
	color: #333
}
.nologin_buy_box .binding_input_line input {
	border: 1px solid #ccc;
	border-radius: 1px;
	height: 24px;
	line-height: 24px;
	padding-left: 8px
}
.nologin_buy_box .binding_input_line .telnum_show {
	line-height: 26px;
	color: #111;
	font-weight: 700
}
.nologin_buy_box .binding_input_line .modify_telnum {
	line-height: 26px;
	color: #999
}
.nologin_buy_box .binding_input_line .modify_telnum:hover {
	text-decoration: underline
}
.nologin_buy_box .binding_input_line .binding_tel_num {
	width: 170px
}
.nologin_buy_box .binding_input_line .binding_tel_code {
	width: 60px
}
.nologin_buy_box .binding_get_code {
	margin-left: 10px;
	width: 82px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	color: #000
}
.nologin_buy_box .binding_check_code {
	margin-left: 100px;
	display: block;
	width: 126px;
	height: 36px
}
.nologin_buy_box .is_ajax {
	background-position: 0 -100px
}
.nologin_buy_box .is_sending_wait {
	width: 102px;
	background-position: -100px 0
}
.nologin_buy_box .dash_top {
	border-top: 1px dashed #cdcdcd
}
.nologin_buy_box .select_input_line {
	height: 44px;
	margin: 0 10px
}
.nologin_buy_box .select_input_line span {
	width: 80px;
	height: 26px;
	line-height: 26px;
	overflow: hidden;
	text-align: right;
	color: #333
}
.nologin_buy_box .select_input_line select {
	border-radius: 1px;
	height: 26px;
	line-height: 26px;
	max-width: 210px;
	_width: 210px;
	overflow: hidden;
	white-space: nowrap
}
.nologin_buy_box .select_input_line .cart_table_disduce {
	color: #333;
	margin-left: 5px;
	line-height: 26px;
	font-weight: 700;
	font-family: "Microsoft Yahei"
}
.nologin_buy_box .select_input_line .goods_sum {
	color: #ff4c7a;
	margin-left: 5px;
	line-height: 26px;
	font-size: 16px;
	font-weight: 700;
	font-family: "Microsoft Yahei"
}
.nologin_buy_box .step2 {
	margin-left: 110px
}
.nologin_buy_box h4 {
	margin: 30px 0 30px 125px;
	padding-left: 30px;
	height: 26px;
	line-height: 26px;
	color: #333;
	font-size: 16px;
	font-weight: 700;
	background-position: 0 -300px
}
.nologin_buy_box .sub_easybuy_order {
	display: block;
	margin: 0 auto;
	width: 146px;
	height: 42px;
	background-position: 0 -200px
}
.easybuy_selected_coupon {
	height: 270px
}
.easybuy_login_succ h4 {
	margin: 50px 0 60px 125px
}
.remind_tuihuo {
	padding-left: 90px
}
.remind_tuihuo b {
	color: #fc4e7f;
	border: solid 1px #fc4e7f;
	padding: 0 5px;
	border-radius: 8px;
	margin-right: 4px
}
.discart-otherinfo span {
	color: #666
}
.discart-otherinfo .pl8 {
	padding-left: 8px
}
.discart-otherinfo {
	padding-top: 16px
}
.discart-otherinfo .act-tag-text {
	float: right;
	margin-right: 10px;
	padding-left: 19px;
	background: url(//s21.mogujie.com/pic/150511/1blhwf_ie2tiobvhfrdkojrgezdambqhayde_360x900.png) -340px -667px
}
.discart-otherinfo .act-tag-text:after {
	content: '|';
	margin-left: 10px;
	color: #c8c8c8
}/* CSS Document */
