header {
  position: fixed;
  height: 50px;
  color: #fff;
  z-index: 999;
  background: #393D46;
}
header .logo {
  float: left;
  width: 180px;
  height: 45px;
  margin-left: 30px;
  background: url("") no-repeat;
  background-size: 100%;
  background-position: 0 50%;
}
header .logo2 {
  float: left;
  width: 290px;
  height: 50px;
  margin-left: 20px;
<!-- background: url(../index_img/logo_screen.jpg) no-repeat;-->
  background-size: 100%;
  background-position: 0 50%;
}
header .logo_screen {
  float: left;
  width: 400px;
  height: 50px;
  margin-left: 5px;
  background: url(../index_img/logob.png) no-repeat;
  background-size: 70%;
  background-position: 0 50%;
}
header .logo_bus {
  float: left;
  width: 491px;
  height: 50px;
  margin-left: 5px;
  background: url(../index_img/logo_bus.png) no-repeat;
  background-size: 100%;
  background-position: 0 50%;
}
header .menu {
  margin-top: 15px;
  margin-left: 27%;
}

header .menu .list-line {
  margin: 0 auto;
}
header .menu ul {
  list-style: none;
  display: inline-block;
}
header .menu ul > li {
  display: inline-block;
}
header .menu .login {
  float: right;
  margin-right: 130px;
}
header .menu .login > li {
  margin: 0;
  font-size: 12px;
}
header .menu ul li {
  margin: 0 12px;
  font-size: 16px;
}
header .menu ul li a {
  color: #ffffff;
  letter-spacing: 2px;
  cursor: pointer;
}
header .menu ul li a:hover {
  color: #1d70ed;
  text-decoration: none;
}
header .menu ul li.active a {
  color: #1d70ed;
  text-decoration: none;
}
.blue-a {
  color: #1d70ed;
  text-decoration: none;
}
