@charset "utf-8";

body {
	font-size: 15px;
	background: rgba(253, 254, 255, 0.47);
	overflow: auto;
}

ul, ol {
	margin: 0;
	padding: 0;
}

header .area {
	position: absolute;
	left: 220px;
	top: 13px;
}

.btn {
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	font-family: microsoft yahei;
	border-radius: 4px;
}

.content {
	position: relative;
	top: 45px;
}

.pd {
	margin: 5px 30px 5px 20px;
}

.side-nav {
	margin-top: 50px;
	width: 200px;
	height: 530px;
	position: fixed;
	top: 0;
	background: #ffffff;
	z-index: 10000;
}

.navbuy.side-nav {
	margin-left: -15%;
	margin-top: 50px;
	width: 200px;
	height: 530px;
	position: fixed;
	top: 0;
	background: #ffffff;
	z-index: 10000;
}

.side-nav .logo {
	width: 100%;
	height: 30px;
	margin-top: 10px;
	margin-bottom: 30px;
	background: url(../index_img/logo-2.png) no-repeat;
	background-size: 70%;
	background-position: 50% 50%;
}

.side-nav .de-code {
	margin-top: 50px;
}

.side-nav .de-code img {
	margin-left: 50px;
}

.side-nav .navibar {
	padding: 0;
	margin-top: 50px;
	margin-left: 50px;
}

.side-nav .navibar li {
	height: 30px;
	width: 100px;
	text-align: center;
	line-height: 30px;
}

.side-nav .navibar li.active {
	background: #1d70ed;
	border-radius: 50px;
	color: #ffffff;
}

.side-nav .markble {
	position: absolute;
	right: 20px;
	bottom: 15px;
	font-size: 12px;
}

.side-nav .markble p {
	text-align: right;
}

.cover {
	padding: 5px 10px;
	position: absolute;
	margin-left: 17%;
}

.cover .c-top {
	position: relative;
	margin: 15px 280px 5px 185px;
}

.cover .c-top .search-panel {
	padding: 2px 2px;
	background: #1d70ed;
}

.cover .c-top .search-panel input {
	width: 100%;
	height: 40px;
	padding-left: 3px;
	outline: none;
	line-height: 40px;
	border: 0px solid #ffffff;
	font-size: 18px;
    font-family: microsoft yahei;
}

.cover .c-top .search-handle {
	width: 100px;
	position: absolute;
	right: 0;
	top: 0;
}

.cover .c-top .search-handle .search-btn {
	padding: 0;
	width: 100%;
	height: 44px;
	line-height: 45px;
	border: none;
	color: #ffffff;
	font-size: 20px;
	cursor: pointer;
	text-indent: 5px;
	background: #1d70ed;
	letter-spacing: 5px;
	font-family: "微软雅黑";
}

.cover .c-top .search-key {
	padding: 5px 25px;
}

.cover .c-top .search-key span {
	margin-left: 5px;
	margin-right: 5px;
	color: #90969f;
	font-size: 14px;
}

.md-nav {
	margin: 10px auto;
	font-size: 16px;
}

.ad {
	width: 1020px;
	height: 260px;
	margin: 20px auto;
	margin-left: 20px;
}

.ad .banner {
	position: relative;
	text-align: center;
}

.ad .banner ul {
	padding: 0;
}

.ad .banner ul li {
	float: left;
}

.recommand {
	position: relative;
}

.recommand .title {
	height: 65px;
	width: 160px;
	color: #ffffff;
	position: absolute;
	text-indent: 5px;
	top: 10px;
	text-align: center;
	background: url(../index_img/icon_rec1.png) no-repeat;
	background-size: 100%;
}

.recommand .title span {
	line-height: 45px;
	text-indent: 5px;
	font-size: 20px;
}

.recommand .re-box {
	width: 980px;
	padding: 10px 0 10px 20px;
	margin-left: 15px;
	margin-bottom: 10px;
	background: #fff;
	border: 1px solid #e0e0e0;
}

.recommand .re-box .select {
	width: 130px;
	margin-top: 60px;
	float: left;
}

.recommand .re-box .select .active {
	color: #c90d0d;
}

.recommand .re-box .select li {
	margin: 5px 0;
	font-size: 16px;
}

.item span {
	font-size: 16px;
}

.recommand .re-box .select-items {
	float: left;
	margin-left: 15px;
	text-align: center;
}

.recommand .re-box2 .select-items {
	float: left;
	margin-left: 30px;
}

.recommand .re-box .select-items .select-item {
	float: left;
	margin: 0 30px;
	cursor: pointer;
}

.gray-border {
	border: 1px solid #e8e8e8;
}

.gray-border-bottom {
	border-bottom: 1px solid #e8e8e8;
}

.re-box .lasttime {
	padding: 5px 0;
	font-size: 12px;
	color: #626262;
	border: 1px solid #e8e8e8;
}

.re-box .cost-box {
	border: 1px solid #e8e8e8;
	margin-top: -5px;
	border-top: none;
}

.re-box .cost, .re-box .timeline {
	border-bottom: 1px solid #e8e8e8;
}

.re-box .cost, .re-box .timeline, .re-box .ston {
	padding: 5px 0;
}

.re-box .cost, .re-box .timeline {
	font-size: 16px;
}

.re-box .cost em, .re-box .timeline em {
	color: #ca0d0e;
	font-style: inherit;
}

.re-box .ston {
	font-size: 24px;
	letter-spacing: 2px;
	color: #C90D0D;
}

.suit .select {
	margin-top: 30px !important;
}

.suit .select-item img {
	width: 100px;
	height: 100px;
}

.timer .title {
	background: url(../index_img/icon_rec2.png) no-repeat;
	background-size: 100%;
}

.title_cart {
	line-height: 40px;
	text-indent: 5px;
	font-size: 20px;
	background-color: #009eea;
	margin-left: 200;
	width: 145px;
	position: absolute;
	top: 10px;
	color: #ffffff;
	text-align: center;
}

.timer .select-item {
	margin: 0 10px !important;
}

.timer .select-item img {
	width: 180px;
	height: 140px;
}

.select-more {
	height: 30px;
	background: #009deb;
}

.select-more li {
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	float: left;
}

.select-more li input {
	height: 20px;
	border: none;
}

.select-more li .i-short {
	width: 50px;
}

.select-more li .i-short:first-child {
	margin-left: 15px;
}

.select-more li .i-long {
	width: 150px;
	margin-left: 15px;
}

.select-more .item1 {
	width: 18%;
}

.select-more .item2 {
	width: 18%;
}

.select-more .item3 {
	width: 24%;
}

.select-more .item3 em {
	margin: 0 6px;
	color: #000;
	font-weight: 600;
}

.select-more .item4 {
	width: 38%;
}

.customs {
	position: relative;
}

.customs .title {
	position: absolute;
	top: 10px;
	background: url(../index_img/icon_rec3.png) no-repeat;
	background-size: 100%;
}

.customs .back {
	width: 1005px;
	margin-left: 13px;
	margin-bottom: 20px;
	background: #fff;
}

.customs .back .desp {
	width: 80px;
	line-height: 30px;
	
	font-weight: 600;
	color: #8E8E8E;
}

.customs .back-items {
	padding: 60px 70px 10px 20px;
	font-size: 16px;
	background-color: white;
	border: 1px solid #e0e0e0;
}

.customs .back-item ul {
	padding: 0;
}

.customs .back-item ul li {
	margin: 0 5px;
	float: left;
	line-height: 30px;
}

.customs .back-item .s-more {
	width: 50px;
	height: 16px;
	padding: 2px 1px;
	cursor: pointer;
	float: right;
	color: #c8c8c8;
	font-size: 12px;
	text-align: center;
	vertical-align: super;
	display: inline-block;
	border: 1px solid #c8c8c8;
}

.customs .back-item .s-more span {
	color: #3c3c3c;
}

.activity {
	width: 36%;
}

.price {
	width: 21%;
}

.num {
	width: 15%;
}

.map {
	width: 10%;
}

.buy {
	padding: 0 10px 20px 20px;
	background-color: #fff;
	border: 1px solid #e0e0e0;
}

.buy .inline-b {
	display: inline-block;
}

.buy .f-left {
	float: left;
}

.buy .f-left_price {
	float: left;
	width: 100px;
	height: 20px;
	margin-left: 45px;
	text-align: center;
	margin-top: 10px;
}

.f-sum {
	float: left;
	width: 130px;
	height: 40px;
	margin-top: 10px;
	font-size: 25px;
}

.buy .cont {
	height: 82px;
	width: 960px;
	margin: 20px 0 2px;
	display: inline-block;
	background: url(../index_img/linebar_blue_items.png) no-repeat;
	background-size: 100%;
	border-radius: 5px;
}

.buy .cont .activity {
	padding-left: 10px;
	line-height: 80px;
	font-size: 17px;
	float: left;
}

.buy .cont .activity span {
	font-size: 22px;
	color: #5D5D5D;
}

.buy .cont .price {
	float: left;
	color: #ffffff;
	margin-top: 5px;
}

.buy .cont .price p {
	text-align: right;
}

.buy .cont .p-one {
	font-size: 20px;
}

.buy .cont .p-one em {
	font-size: 30px;
	font-style: inherit;
}

.buy .cont .num {
	margin-top: 25px;
	margin-left: 8%;
	line-height: 100px;
}

.buy .cont .num .icon {
	width: 20px;
	height: 20px;
	margin: 7px 5px 0 5px;
	cursor: pointer;
	display: inline-block;
}

.buy .cont .num .dec {
	background: url(../index_img/icon_dec.png) no-repeat;
}

.buy .cont .num .plus {
	background: url(../index_img/icon_plus.png) no-repeat;
}

.buy .cont .num input {
	width: 50px;
	height: 30px;
	border: none;
	text-align: center;
}

.buy .cont .map {
	padding-top: 8px;
	margin-left: 5%;
	line-height: 100px;
}

.buy .cont .map-box {
	height: 60px;
	width: 100px;
	background: #000; //
	opacity: .6;
	border-radius: 5px;
}

.buy .paginate {
	margin: 10px 50px 10px 0;
	text-align: right;
}

.buy .paginate span {
	width: 20px;
	height: 20px;
	display: inline-block;
	text-align: center;
	background: #dcdcdc;
}

.buy .contall {
	background: url(../index_img/linebar_blue_count.png) no-repeat;
	background-size: 100%;
}
/* .buy .contall .price {
  margin-left: 15%;
} */
.buy .contall .text {
	margin-left: 5%;
	padding-top: 20px;
	float: left;
	color: #000;
	font-size: 28px;
}

.buy .contall .p-one {
	line-height: 70px;
}

.buy .cart-box {
	text-align: right;
}

.buy .cart-box .cart {
	height: 50px;
	padding: 0 20px 0 60px;
	display: inline-block;
	vertical-align: middle;
	text-align: -webkit-auto;
	background-color: #009eea;
	background-image: url(../index_img/icon_cart.png);
	background-repeat: no-repeat;
	background-position: 20px 50%;
	background-size: 17%;
	line-height: 50px;
	cursor: pointer;
	font-size: 20px;
	color: #fff;
}

#b04 {
	width: 100%;
}

#b04 .dots {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 20px;
}

#b04 .dots li {
	display: inline-block;
	width: 5px;
	height: 5px;
	margin: 0 4px;
	text-indent: -999em;
	border: 1px solid #B89B9B;
	border-radius: 6px;
	cursor: pointer;
	opacity: .4;
	-webkit-transition: background .5s, opacity .5s;
	-moz-transition: background .5s, opacity .5s;
	transition: background .5s, opacity .5s;
}

#b04 .dots li.active {
	background: #7791b3;
	opacity: 1;
}

#b04 .arrow {
	position: absolute;
	top: 130px;
}

#b04 #al {
	left: 15px;
}

#b04 #ar {
	right: 15px;
}

.cart-container {
	width: 1000px;
	margin-left: 30px;
}

.cart-container .c-inner {
	width: 975px;
	margin: 0 auto;
}

.cart-container .c-inner .tabline {
	margin: 10px 0;
}

.cart-container .border-gray {
	border-bottom: 1px solid #e3e3e3;
}

.cart-container .panel {
	background: #fff;
	font-size: 14px;
}

.cart-container .panel .panel-head, .cart-container .panel .panel-item {
	border-bottom: 1px solid #e3e3e3;
}

.cart-container .panel .panel-head {
	height: 40px;
}

.cart-container .panel .panel-item {
	height: 120px;
	line-height: 120px;
}

.tabline {
	position: relative;
}

.tabline .ara {
	font-size: 24px;
	font-weight: 600;
}

.tabline .arrow {
	height: 40px;
	font-size: 18px;
	position: relative;
	display: inline-block;
}

.tabline .arrow-stp1 {
	top: 0;
	width: 360px;
	color: #fff;
	background: url(../index_img/secondCartIcons.png) -42px -8px;
	background-size: 115%;
	z-index: 3;
}

.tabline .arrow-stp1 .ara {
	margin: 0 80px 0 20px;
}

.tabline .arrow-stp2 {
	top: 0;
	left: -10px;
	width: 340px;
	color: #9c9c9c;
	margin-left: -30px;
	background: url(../index_img/secondCartIcons.png) -45px -49px;
	background-size: 115%;
	z-index: 2;
}

.tabline .arrow-stp2 .ara {
	margin: 0 60px 0 45px;
}

.tabline .arrow-stp3 {
	top: 0;
	right: 0;
	color: #9c9c9c;
	position: absolute;
	width: 340px;
	background: url(../index_img/secondCartIcons.png) -50px -49px;
	background-size: 115%;
	z-index: 1;
}

.tabline .arrow-stp3 .ara {
	margin: 0 60px 0 50px;
}

.cart-step1 .panel:last-child {
	margin-bottom: 53px;
}

.panel {
	margin-top: 30px;
}

.panel .panel-head ul .td {
	line-height: 30px;
	margin-top: 5px;
}

.panel .td {
	float: left;
	text-align: center;
}

.panel .item-rect {
	height: 116px;
	padding: 10px 0;
	position: relative;
	box-sizing: border-box;
	border: 1px dotted #c9c9c9;
}

.panel .item-rect-hover {
	border: 2px dotted #1d70ed;
}

.panel .item-rect-hover .btn-edit {
	display: inline-block;
}

.panel .rec-line {
	margin: 0 5px 0 10px;
	color: #646464;
	overflow: hidden;
	text-overflow: ellipsis;
}

.panel .btn-edit {
	width: 30px;
	height: 30px;
	position: absolute;
	bottom: 0;
	right: 0;
	display: none;
	cursor: pointer;
	background: url(../index_img/secondCartIcons.png);
	background-position: 3px -145px;
}

.panel .price, .panel .sum {
	color: #ff5151;
	font-size: 16px;
}

.panel .td-inner {
	text-align: center;
}

.panel .td-check {
	width: 45px;
}

.panel .td-name {
	width: 445px;
	
	text-align: left;
}

.panel .td-item {
	width: 235px;
	font-size: 18px;
	text-align: left;
}

.panel .td-info {
	width: 220px;
	font-size: 14px;
	text-align: left;
	line-height: normal;
	padding: 2px 20px 5px 0;
	box-sizing: border-box;
}

.panel .td-price {
	width: 130px;
}

.panel .td-amount {
	width: 130px;
}

.panel .td-sum {
	width: 120px;
}

.panel .td-handle {
	width: 90px;
}

.td-item p {
	margin-left: 0;
	text-align: left;
}

.td-amount input {
	width: 50px;
	height: 35px;
	outline: none;
	text-align: center;
	border: 2px solid #1d70ed;
}

.td-amount .icon {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

.td-amount .icon-plus {
	width: 20px;
	height: 20px;
	background: url(../index_img/secondCartIcons.png);
	background-position: 0 -284px;
	background-size: 1180%;
}

.td-amount .icon-sub {
	width: 20px;
	height: 20px;
	background: url(../index_img/secondCartIcons.png);
	background-position: 0px -305px;
	background-size: 1180%;
}

.td-check {
	position: relative;
	overflow: hidden;
}

.cart-check {
	display: inline-block;
}

.cart-check .hideinput {
	position: absolute;
	top: -20px;
	left: -20px;
}

.cart-check label {
	position: relative;
	float: left;
	width: 15px;
	height: 15px;
	line-height: 200em;
	overflow: hidden;
	cursor: pointer;
}

.cart-check.active label {
	background: url(../index_img/secondCartIcons.png);
	background-position: 0px -16px;
	background-size: 1270%;
}

.cart-check label {
	background: url(../index_img/secondCartIcons.png);
	background-position: 0px -2px;
	background-size: 1270%;
}

.td-handle p {
	margin: 20px auto;
	cursor: pointer;
}

.td-handle .like {
	width: 35px;
	height: 35px;
	background: url(../index_img/secondCartIcons.png);
	background-position: 0 -67px;
	background-size: 1150%;
}

.td-handle .del-like {
	margin-top: 50%;
	width: 25px;
	height: 25px;
	background: url(../index_img/secondCartIcons.png);
	background-position: 0 -73px;
	background-size: 1150%
}

.panel-head .cart-check label {
	margin: 0 10px;
	margin-top: 25%;
}

.panel-item .td-check {
	margin-top: 53px;
}

.cart-check label {
	margin: auto 10px;
}

.acount-fix {
	width: 1000px;
	margin: 0 auto;
	position: fixed;
	bottom: 0;
}

.acount-fix .acount-top {
	height: 15px;
}

.acount-fix .top-left {
	width: 12px;
	height: 15px;
	float: left;
	background: url(../index_img/triangle.png);
	background-size: 200%;
	background-position: 0 4px;
	background-repeat: no-repeat;
}

.acount-fix .top-right {
	width: 12px;
	height: 15px;
	float: right;
	background: url(../index_img/triangle.png);
	background-size: 200%;
	background-position: -12px 4px;
	background-repeat: no-repeat;
}

.acount-fix .acount-bottom {
	height: 60px;
	background: rgba(246, 246, 212, 0.78);
}

.acount-fix .acount-inner {
	width: 1000px;
	position: relative;
	overflow: hidden;
	padding-left: 30px;
	padding-right: 70px;
	line-height: 60px;
	font-size: 18px;
	box-sizing: border-box;
}

.acount-fix .inner-left {
	float: left;
}

.acount-fix .inner-left .cart-check {
	display: inline-block;
	vertical-align: middle;
}

.acount-fix .inner-right {
	float: right;
}

.acount-fix .inner-right .btn-over {
	width: 120px;
	height: 35px;
	margin-left: 20px;
	color: #fff;
	font-size: 18px;
	line-height: 35px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	background-color: #1d70ed;
	cursor: pointer;
}

.acount-fix .acount-price {
	color: #ff0606;
}

.acount-fix .cart-check label {
	margin: 0;
	margin-top: -5px;
}

.cart-step2 .panel {
	margin: 20px auto;
}

.cart-step2 .panel .panel-item {
	height: 100px;
	line-height: 100px;
}

.cart-step2 .panel-head .td, .cart-step2 .panel-item .td {
	box-sizing: border-box;
}

.cart-step2 .panel-head .td-name, .cart-step2 .panel-item .td-name {
	width: 574px;
	padding-left: 20px;
}

.cart-step2 .panel-head .td-price, .cart-step2 .panel-item .td-price {
	width: 129px;
}

.cart-step2 .panel-head .td-amount, .cart-step2 .panel-item .td-amount {
	width: 129px;
}

.cart-step2 .panel-head .td-sum, .cart-step2 .panel-item .td-sum {
	width: 130px;
}

.cart-step2 .panel-head .td-item, .cart-step2 .panel-item .td-item {
	width: 350px;
}

.cart-step2 .panel-head .td-info, .cart-step2 .panel-item .td-info {
	width: 225px;
}

.cart-step2 .panel-item .td-amount {
	color: #656565;
}

.cart-step2 .td-name {
	font-size: 20px;
}

.cart-step2 .td-sum {
	border: none;
}

.cart-step2 .td-item {
	padding-left: 15px;
	font-size: 20px;
}

.cart-step2 .td-info {
	height: 100px;
	padding: 20px 20px;
	color: #4c4c4c;
}

.cart-step2 .td-info .date {
	width: 100%;
	display: inline-block;
}

.cart-step2 .td-info .perio {
	width: 100%;
	display: inline-block;
}

.cart-step2 .td-info .td-inner {
	text-align: left;
}

.cart-step2 .arrow-stp1 {
	color: #9c9c9c;
	background: url(../index_img/secondCartIcons.png) -41px -51px;
	background-size: 113%;
	z-index: 3;
}

.cart-step2 .arrow-stp1 .ara {
	margin: 0 80px 0 20px;
}

.cart-step2 .arrow-stp2 {
	color: #fff;
	background: url(../index_img/secondCartIcons.png) -41px -6px;
	background-size: 115%;
	z-index: 2;
}

.cart-step2 .arrow-stp2 .ara {
	margin: 0 60px 0 45px;
}

.cart-step2 .arrow-stp3 {
	color: #9c9c9c;
	background: url(../index_img/secondCartIcons.png) -50px -49px;
	background-size: 115%;
	z-index: 1;
}

.cart-step2 .arrow-stp3 .ara {
	margin: 0 60px 0 50px;
}

.cart-step3 .success-content {
	margin: 100px auto;
	text-align: center;
}

.cart-step3 .success-area {
	margin-bottom: 50px;
	font-size: 32px;
}

.cart-step3 .success-area span {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-right: 5px;
	vertical-align: sub;
	background: url(../index_img/icon_register_success.png) no-repeat;
	background-size: 100%;
}

.cart-step3 .more-info {
	color: #009deb;
}

.cart-step3 .arrow-stp3 {
	color: #fff;
	background: url(../index_img/secondCartIcons.png) -41px -6px;
	background-size: 115%;
	z-index: 1;
}

.cart-step3 .arrow-stp1 {
	color: #9c9c9c;
	background: url(../index_img/secondCartIcons.png) -41px -51px;
	background-size: 113%;
	z-index: 3;
}

.adj {
	margin-top: 40px;
	padding-left: 10px;
}

.adj .line {
	margin-bottom: 50px;
}

.adj .line .selects {
	display: inline-block;
}

.adj .line .upload {
	color: #4da4ca;
}

.adj .file .legged {
	line-height: 40px;
}

.adj .selects {
	width: 100px;
	height: 30px;
	margin-right: 40px;
	position: relative;
	vertical-align: sub;
	border: 1px solid #1573f4;
	background-color: #fff;
}

.adj .s-blue {
	width: 45px;
	height: 45px;
	position: absolute;
	right: 0;
	top: 0;
	background-color: #1573f4;
	background-image: url(../index_img/icon_arrow.png);
	background-size: 100%;
	background-position: 7px 10px;
}

.adj .legged {
	line-height: 35px;
	font-size: 18px;
	display: inline-block;
	vertical-align: bottom;
}

.adj .way {
	padding-left: 0px;
}

.adj .way .select-items {
	margin-left: 10px;
	font-size: 16px;
	display: inline-block;
}

.adj .way ul li {
	float: left;
}

.adj .iradios {
	position: relative;
	overflow: hidden;
}

.adj .iradios li {
	margin: 0 15px;
}

.adj input[type="radio"] {
	position: absolute;
	left: -20px;
	top: -20px;
}

.adj .iradio {
	width: 18px;
	height: 18px;
	display: inline-block;
	vertical-align: text-bottom;
	background: url(../index_img/secondCartIcons.png) 0 -461px;
	background-size: 1140%;
}

.adj .active .iradio {
	background: url(../index_img/secondCartIcons.png) 0 -444px;
	background-size: 1140%;
}

.adj .sum, .adj .sure {
	text-align: right;
	margin-bottom: 30px;
}

.adj .sum .legged {
	font-size: 20px;
}

.adj .sum em {
	color: #fe1611;
	font-size: 30px;
}

.adj .btn-sure {
	width: 180px;
	height: 40px;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	background-color: #1d70ed;
	color: #fff;
	cursor: pointer;
}

.third-step {
	width: 1030px;
	font-size: 16px;
}

.detail-bd .d-left {
	padding: 10px 0 0 50px;
	float: left;
}

.detail-bd .d-right {
	width: 495px;
	padding-top: 10px;
	margin-left: 100px;
	float: left;
}

.detail-bd .socials {
	width: 100%;
	margin-top: 30px;
}

.detail-bd .socials .social {
	float: left;
}

.detail-bd .socials .focus {
	float: right;
}

.detail-bd .socials .btn-focus {
	width: 65px;
	height: 25px;
	color: #fff;
	line-height: 25px;
	background-color: #d10501;
}

.detail-bd .socials li {
	float: left;
}

.detail-bd .socials .icon {
	width: 20px;
	height: 18px;
	display: inline-block;
	background: url(../index_img/icon_social.png);
}

.detail-bd .socials .qq {
	background-position: 1px 1px;
}

.detail-bd .socials .wechat {
	background-position: 1px -18px;
}

.detail-bd .socials .weibo {
	background-position: 1px -36px;
}

.detail-bd .socials .email {
	background-position: 1px -54px;
}

.d-right dl dt {
	float: left;
	margin-right: 5px;
	width: 55px;
}

.d-right .d-item {
	margin-bottom: 20px;
}

.d-right .price {
	margin: 30px 0;
}

.d-right .perio {
	line-height: 35px;
}

.d-right .perio li {
	float: left;
	margin: 0 15px 10px 0;
	text-align: center;
}

.d-right .perio li a {
	width: 80px;
	height: 35px;
	font-size: 18px;
	font-family: microsoft yahei;
	line-height: 35px;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #dfe3e9;
	background: #FFF;
}

.d-right .perio li.active a {
	border: 1px solid #c80000;
}

.d-right .number {
	line-height: 40px;
}

.d-right .number .stock {
	width: 85px;
	position: relative;
	display: inline-block;
}

.d-right .number .stock input {
	width: 50px;
	height: 40px;
	text-align: center;
	border: 1px solid #dfe3e9;
}

.d-right .number .stock a {
	position: absolute;
	display: inline-block;
	line-height: 20px;
	text-align: center;
	border: 1px solid #dfe3e9;
	background-color: #fff;
}

.d-right .number .stock .stock-plus {
	top: 0;
	right: 0;
	width: 30px;
	height: 20px;
}

.d-right .number .stock .stock-dl {
	bottom: 0;
	right: 0;
	width: 30px;
	height: 20px;
}

.d-right .random input {
	width: 180px;
	height: 35px;
	margin-left: 7px;
	border: 1px solid #dfe3e9;
}

.d-right .btn-group {
	margin: 0px 0 0 0px;
}

.d-right .btn {
	line-height: 45px;
}

.d-right .btn-now {
	width: 120px;
	height: 45px;
	color: #db3b30;
	font-size: 20px;
	border: 1px solid #db3b30;
	background-color: #febbbd;
}

.d-right .btn-cart {
	width: 160px;
	height: 45px;
	margin-left: 40px;
	color: #fff;
	font-size: 20px;
	border: 1px solid #c90000;
	background-color: #c90000;
}

.l-lau {
	margin-bottom: 15px;
	text-align: right;
}

.l-lau .btn-contact {
	width: 85px;
	height: 30px;
	line-height: 30px;
	color: #1c71ed;
	font-size: 20px;
	background-color: #c5c4bb;
}

.layout {
	width: 1030px;
	background-color: #fff;
}

.layout .layout-top {
	height: 30px;
	background-color: #1c71ed;
}

.layout .layout-top .product-info {
	width: 120px;
	margin-left: 50px;
	position: relative;
	line-height: 30px;
	font-size: 18px;
	text-align: center;
	font-family: Microsoft yahei;
	display: inline-block;
	background-color: #75adff;
}

.layout .layout-top .product-info span {
	bottom: -3px;
	left: 55px;
	width: 11px;
	height: 10px;
	position: absolute;
	background: url(../index_img/icon_triangle.png);
}

.layout .layout-contain {
	text-align: center;
	padding: 0 50px;
}

.layout .layout-contain img {
	width: 780px;
	height: auto;
}

.case {
	top: -40px;
}

.case .c-more {
	margin-right: 20px;
}

.case .icon-left-arrow {
	width: 20px;
	height: 20px;
	display: inline-block;
	background: url(../index_img/icon_left_arrow.png) 50% 20% no-repeat;
	background-size: 65%;
}

.case .c-page {
	width: 50px;
	height: 25px;
	text-align: center;
	line-height: 25px;
	font-size: 12px;
	border-radius: 6px;
	display: inline-block;
	border: 1px solid #d5dce7;
}

.case-info {
	width: 1000px;
	margin-top: 25px;
	padding-left: 20px;
}

.case-info .c-desp {
	line-height: 30px;
}

.case-info .aline {
	width: 6px;
	height: 20px;
	display: inline-block;
	border-radius: 10px;
	background-color: #0789d0;
}

.case-info .ver-ali {
	vertical-align: text-bottom;
}

.case-info .c-title, .case-info .casename {
	font-size: 16px;
}

.case-info .casename {
	text-indent: 2em;
}

.case-info .tags {
	margin-left: 3em;
}

.case-info .icon-tag {
	width: 20px;
	height: 20px;
	display: inline-block;
	background: url(../index_img/icon_tag.png) no-repeat 0 9px;
	background-size: 80%;
}

.case-info .tag {
	width: 35px;
	height: 20px;
	margin: 0 5px;
	line-height: 20px;
	text-align: center;
	color: #fff;
	display: inline-block;
	background-color: #0789d0;
}

.case-info .c-contain {
	width: 945px;
	margin-top: 10px;
	margin-left: 30px;
	text-align: center;
	background-color: #f6f5f5;
}

.case-info .c-contain img {
	width: 100%;
	height: auto;
}

.case-info .c-md {
	padding: 5px 70px;
}

.c-head {
	padding: 20px 20px 10px;
}

.pic-table {
	margin-bottom: 40px;
	padding: 0;
	padding-left: 70px;
	padding-right: 70px;
	font-size: 22px;
}

.pic-table .tbhead {
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.pic-table .tbbody .tbtd {
	float: left;
	width: 50%;
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #ccc;
}

.pic-table .tbbody .tb-left {
	width: 49.8%;
	border-right: 1px solid #ccc;
}

.pic-table .tbbody .icon {
	float: left;
	display: inline-block;
	margin-top: 15px;
	margin-left: 30px;
	width: 30px;
	height: 30px;
	background: url(../index_img/icon_third.png) no-repeat;
}

.pic-table .tbbody .icon-position {
	background-position: 5px 0;
}

.pic-table .tbbody .icon-flow {
	background-position: 5px -94px;
}

.pic-table .tbbody .icon-path {
	background-position: 0 -31px;
}

.pic-table .tbbody .icon-medium {
	margin-top: 20px;
	height: 25px;
	background-position: 0 -123px;
}

.pic-table .tbbody .icon-firm {
	background-position: 0 -63px;
}

.pic-table .tbbody .icon-number {
	background-position: 1px -147px;
}

.pic-table .tbbody .tb-path {
	line-height: 60px;
}

.head-en {
	font-size: 36px;
	margin: 5px 0;
}

.head-zh {
	font-size: 30px;
}

.icon-line {
	height: 40px;
	width: auto;
	margin: 20px 0;
	background: url(../index_img/icon_line.png);
	background-position: 50%;
}

.city-dropdown #ttbar-mycity {
	padding-left: 0;
}

.city-dropdown li.dorpdown {
	z-index: 13;
}

.city-dropdown li {
	float: left;
	height: 30px;
	padding: 0 2px;
}

ol, ul {
	list-style: none;
}

.city-dropdown {
	line-height: 30px;
}

.city-dropdown #ttbar-mycity .dt {
	padding: 0 25px 0 15px;
	width: 42px;
}

.city-dropdown .dt {
	float: left;
}

.cw-icon {
	position: relative;
	cursor: default;
	zoom: 1;
}

.city-dropdown .ci-right {
	top: 11px;
	right: 8px;
	height: 7px;
	overflow: hidden;
	font: 400 15px/15px consolas;
	color: #ccc;
	transition: transform .1s ease-in 0s;
	-webkit-transition: -webkit-transform .1s ease-in 0s;
}

.cw-icon .i, .cw-icon i {
	display: block;
	position: absolute;
	overflow: hidden;
}

.city-dropdown #ttbar-mycity .dd {
	width: 64px;
	padding: 2px 8px;
}

.city-dropdown .dorpdown-layer {
	top: 30px;
	background: #fff;
	border: 1px solid #ddd;
	z-index: 999;
}

.city-dropdown .dd {
	line-height: 24px;
}

.dorpdown-layer {
	display: none;
	position: absolute;
}

.city-dropdown #ttbar-mycity .dd-spacer {
	left: 0;
	width: 80px;
}

.city-dropdown .dd-spacer {
	position: absolute;
	top: -7px;
	height: 10px;
	background: #fff;
	overflow: hidden;
}

.city-dropdown #ttbar-mycity .item {
	float: left;
	width: 60px;
	padding: 2px 0;
}

.city-dropdown #ttbar-mycity .item a.selected {
	background: #3bafda;
	color: #fff;
}

.city-dropdown #ttbar-mycity .item a {
	float: left;
	padding: 0 8px;
}

.city-dropdown ul {
	width: 5%;
	float: left;
	margin-left: 15%;
	line-height: 45px;
}

.sm-imgs {
	margin-top: 5px;
}

.sm-imgs img {
	cursor: pointer;
}

.subWithdraworder {
	text-align: center;
}

.block-btn {
	border: 0;
	font-size: 16px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	background: #00a8e8;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	padding: 0 15px;
	text-decoration: none;
	font-weight: 500;
	letter-spacing: 2px;
	border-radius: 3px;
}

.block-btn-green {
	border: 0;
	font-size: 16px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	background: #398a11;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	padding: 0 15px;
	text-decoration: none;
	font-weight: 600;
	letter-spacing: 2px;
}

.block-btn-red {
	border: 0;
	font-size: 16px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	background: #cd0a0a;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	padding: 0 15px;
	text-decoration: none;
	font-weight: 600;
	letter-spacing: 2px;
}
.pro-til{
	font-size:18px;
	color:#c90000;
	font-weight:600;
}

.footall{
	margin-top: 50px;
	float: right;
}