@charset "utf-8";
.background-one .slide-container .view1 {
  background: url(../index_img/bg1_1.jpg) no-repeat;
  background-size: 100%;
}
.background-one .slide-container .view2 {
  background: url(../index_img/bg1_2.jpg) no-repeat;
  background-size: 125%;
}
.background-one .slide-container .view3 {
  background: url(../index_img/bg1_3.jpg) no-repeat 50% 50%;
  background-size: 125%;
}
.background-one .slide-container .view4 {
  background: url(../index_img/bg1_4.jpg) no-repeat;
  background-size: 125%;
}
.background-two {
  background: url(../index_img/bg2.jpg);
  background-position: 0 50%;
  background-size: 120%;
}
.background-three {
  background: url(../index_img/bg3.jpg);
  background-position: 40% 0;
  background-size: 125%;
}
.background-four {
  background: url(../index_img/bg4.jpg);
  background-position: 50% 50%;
  background-size: 120%;
}
.background-five {
  background: url(../index_img/bg5.jpg);
  background-position: 50% 100%;
  background-size: 110%;
}
.background-six {
  background: url(../index_img/bg6.jpg);
  background-position: 50% 50%;
  background-size: 100%;
}
.background-two .items .item .ad i {
  background: url(../index_img/homepage_icon_circle.png) no-repeat;
}
.background-two .items .item .ad1 i {
  background-position: 30px -329px;
}
.background-two .items .item .ad2 i {
  background-position: 45px -270px;
}
.background-two .items .item .ad3 i {
  background-position: 35px -60px;
}
.background-two .items .item .ad4 i {
  background-position: 55px -155px;
}
.background-two .items .item .ad5 i {
  background-position: 40px 0;
}
.background-five .adv .mobile {
  background: url(../index_img/line.jpg) no-repeat -935px 0;
}
.background-five .adv .mengniu {
  background: url(../index_img/line.jpg) no-repeat -1165px 0;
}
.background-five .adv .lenovo {
  background: url(../index_img/line.jpg) no-repeat -1395px 0;
}
.background-five .adv .jd {
  background: url(../index_img/line.jpg) no-repeat -705px 0;
}
.background-five .adv .suning {
  background: url(../index_img/line.jpg) no-repeat -2085px 0;
}
.background-five .adv .apple {
  background: url(../index_img/line.jpg) no-repeat -245px 0;
}
.background-five .adv .weiqian {
  background: url(../index_img/line.jpg) no-repeat -1625px 0;
}
.background-five .adv .unilever {
  background: url(../index_img/line.jpg) no-repeat -15px 0;
}
.background-five .adv .cocacola {
  background: url(../index_img/line.jpg) no-repeat -475px 0;
}
.background-five .adv .taobao {
  background: url(../index_img/line.jpg) no-repeat -1855px 0;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-block;
}
#content {
  position: relative;
}
.slide-container .slider {
  float: left;
}
.title-en {
  height: 40px;
  margin: 0 auto;
  font-size: 40px;
  overflow: hidden;
  line-height: 40px;
  text-align: center;
  color: #1d70ed;
}
.background-one .slide-container .slider {
  letter-spacing: 5px;
  text-align: center;
  color: #ffffff;
}
.background-one .slide-container .slider .view-text {
  height: 100%;
  position: relative;
  top: 150px;
}
.background-one .slide-container .slider .view-text .top {
  font-size: 32px;
}
.background-one .slide-container .slider .view-text .bot {
  width: 40%;
}
.background-one .slide-container .slider .view-text .bot .info {
  margin: 5px;
  text-align: right;
  font-weight: 700;
  color: #1d70ed;
}
.background-one .slide-container .view1 .view-text .top .spec {
  width: 310px;
  height: 40px;
  margin: 15px auto;
  line-height: 60px;
  background: url(../index_img/icon.png) no-repeat -160px -230px;
}
.background-one .slide-container .view1 .view-text .mid {
  margin-top: 160px;
  font-size: 20px;
}
.background-one .slide-container .view1 .view-text .bot {
  margin-top: 20px;
  font-size: 16px;
}
.background-one .slide-container .view1 .view-text .bot .info {
  font-size: 14px;
}
.background-one .slide-container .view2 .view-text .mid {
  margin-top: 40px;
}
.background-one .slide-container .view2 .view-text .mid .spec {
  width: 245px;
  height: 40px;
  margin: 15px auto;
  line-height: 60px;
  background: url(../index_img/icon.png) no-repeat -160px -480px;
}
.background-one .slide-container .view2 .view-text .bot {
  margin-top: 140px;
  font-size: 20px;
}
.background-one .slide-container .view3 .view-text .right .top .spec {
  width: 180px;
  height: 45px;
  margin: 15px 32%;
  line-height: 60px;
  background: url(../index_img/icon.png) no-repeat -205px -295px;
}
.background-one .slide-container .view3 .view-text .right .mid {
  text-align: -webkit-auto;
}
.background-one .slide-container .view3 .view-text .right .mid span {
  margin-left: 27%;
  font-size: 32px;
  text-align: none;
}
.background-one .slide-container .view3 .view-text .right .bot {
  margin-top: 160px;
}
.background-one .slide-container .view4 .view-text .top em {
  font-style: inherit;
  color: #1d70ed;
}
.background-one .slide-container .view4 .view-text .mid {
  margin-top: 40px;
}
.background-one .slide-container .view4 .view-text .mid .spec {
  width: 180px;
  height: 45px;
  margin: 15px auto;
  line-height: 60px;
  background: url(../index_img/icon.png) no-repeat -205px -395px;
}
.background-one .slide-container .view4 .view-text .bot {
  margin-top: 140px;
  font-size: 16px;
}
.background-one .slide-container .view4 .view-text .bot .info {
  font-size: 14px;
}
.background-one .inner-container {
  position: absolute;
  bottom: 40px;
  width: 100%;
  z-index: 10;
}
.background-one .inner-container .navi {
  margin: 0 auto;
  margin-bottom: 80px;
  width: 200px;
}
.background-one .inner-container .navi a {
  display: block;
  float: left;
  margin: 0 5px;
  width: 40px;
  height: 3px;
  background: #ffffff;
  cursor: pointer;
}
.background-one .inner-container .navi a:hover,
.background-one .inner-container .navi a.active {
  background: #1d70ed;
}
.background-one .inner-container .cdown {
  width: 45px;
  height: 45px;
  margin: 0 auto;
  cursor: pointer;
  background: url(../index_img/icon.png) no-repeat -265px -630px;
}
.background-two .container {
  position: absolute;
  top: 100px;
  width: 100%;
}
.background-two .container .title-en {
  width: 280px;
  background: url(../index_img/icon.png) no-repeat 0px -50px;
}
.background-two .container .title-zh {
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  color: #000;
}
.background-two .container .items {
  width: 100%;
  padding: 0;
  margin-top: 60px;
  display: inline-block;
  list-style: none;
  text-align: center;
}
.background-two .container .items .item {
  margin-left: 40px;
  display: inline-block;
}
.background-two .container .items .item .ad {
  width: 156px;
  height: 156px;
}
.background-two .item u {
  display: block;
  position: absolute;
  width: 156px;
  height: 156px;
  background: url(../index_img/homepage_icon_circle.png) no-repeat 2px -385px;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}
.background-two .item .cl {
  clip: rect(0px, 156px, 156px, 78px);
}
.background-two .item .cr {
  clip: rect(0px, 78px, 156px, 0px);
}
.background-two .item i {
  display: block;
  position: relative;
  margin: 0 auto;
}
.background-two .item .ad1 i {
  top: 53px;
  height: 49px;
}
.background-two .item .ad2 i {
  top: 53px;
  height: 60px;
}
.background-two .item .ad3 i {
  top: 30px;
  height: 90px;
}
.background-two .item .ad4 i {
  top: 33px;
  height: 90px;
}
.background-two .item .ad5 i {
  top: 53px;
  height: 55px;
}
.background-two .item:hover {
  background-position: 0px 0px;
  -webkit-transition: all 0.5s ease-in-out 0.3s;
  -moz-transition: all 0.5s ease-in-out 0.3s;
  -ms-transition: all 0.5s ease-in-out 0.3s;
  -o-transition: all 0.5s ease-in-out 0.3s;
  transition: all 0.5s ease-in-out 0.3s;
}
.background-two .item:hover u.cl {
  clip: rect(0px, 156px, -10px, 78px);
}
.background-two .item:hover u.cr {
  clip: rect(156px, 78px, 156px, 0px);
}
.background-three .container {
  position: absolute;
  top: 120px;
  width: 100%;
}
.background-three .container .title-en {
  width: 200px;
  background: url(../index_img/icon.png) no-repeat -275px -50px;
}
.background-three .container .title-zh {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  color: #000;
}
.background-three .container .descrip {
  width: 60%;
  margin: 0 auto;
}
.background-three .container .descrip p {
  margin: 0;
  text-indent: 2em;
}
.background-three .container .dec {
  width: 75%;
  margin: 30px auto;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  background: rgba(250, 250, 250, 0.6);
}
.background-three .container .plain {
  margin: 0 auto;
  width: 45%;
}
.background-three .container .plain .left {
  margin-right: 100px;
  display: inline-block;
  height: 100px;
  width: 300px;
  background: url(../index_img/icon.png) no-repeat 0 -110px;
}
.background-three .container .plain .right {
  display: inline-block;
  height: 100px;
  width: 150px;
  background: url(../index_img/icon.png) no-repeat -350px -110px;
}
.background-four .container {
  position: relative;
  top: 100px;
  width: 100%;
  text-align: center;
}
.background-four .container .title-en {
  width: 210px;
  display: inline-block;
  background: url(../index_img/icon.png) no-repeat -270px 0px;
}
.background-four .container .title-zh {
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  color: #000;
}
.background-four .container .more {
  margin-top: 20px;
  width: 87%;
  color: #1d70ed;
  font-size: 20px;
  font-weight: 600;
  text-align: right;
}
.background-four .examples {
  margin: 30px auto;
  width: 100%;
  text-align: center;
}
.background-four .examples .example {
  width: 300px;
  margin: 0 10px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  border-bottom: 1px solid #1d70ed;
  background: #ffffff;
}
.background-four .examples .example:hover .hover-top {
  top: 0;
}
.background-four .examples .example:hover .hover-bottom {
  bottom: 0;
}
.background-four .examples .example:hover .desp {
  color: #fff;
}
.background-four .examples .example .infos {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}
.background-four .examples .example img {
  width: 300px;
  height: 180px;
}
.background-four .examples .example .desp {
  position: relative;
  padding-left: 15px;
  text-align: left;
  color: #1d70ed;
  z-index: 10;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  /* Firefox 4 */
  -webkit-transition: all 0.3s ease-in-out 0s;
  /* Safari and Chrome */
  -o-transition: all 0.3s ease-in-out 0s;
  /* Opera */
}
.background-four .examples .example .desp span {
  font-size: 12px;
}
.background-four .examples .example .desp p {
  margin: 5px 0;
  font-weight: 600;
}
.background-four .examples .hover-top {
  height: 180px;
  width: 300px;
  position: absolute;
  top: -180px;
  background: Black;
  -moz-opacity: 0.7;
  opacity: 0.7;
  filter: alpha(opacity=70);
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  /* Firefox 4 */
  -webkit-transition: all 0.3s ease-in-out 0s;
  /* Safari and Chrome */
  -o-transition: all 0.3s ease-in-out 0s;
  /* Opera */
}
.background-four .examples .hover-top u {
  display: block;
  width: 44px;
  height: 44px;
  margin: 0 auto;
  margin-top: 60px;
  background: url(../index_img/icons.png) no-repeat 0 -168px;
}
.background-four .examples .hover-bottom {
  width: 300px;
  height: 77px;
  position: absolute;
  bottom: -80px;
  background: #2ED0B4;
  -moz-opacity: 0.8;
  opacity: 0.8;
  filter: alpha(opacity=80);
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  /* Firefox 4 */
  -webkit-transition: all 0.3s ease-in-out 0s;
  /* Safari and Chrome */
  -o-transition: all 0.3s ease-in-out 0s;
  /* Opera */
}
.background-five .container {
  position: absolute;
  top: 100px;
  width: 100%;
}
.background-five .container .title-en {
  width: 280px;
  background: url(../index_img/icon.png) no-repeat 0px 0px;
}
.background-five .container .title-zh {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  color: #000;
}
.background-five .container .adv {
  width: 1000px;
  margin: 0 auto;
  border-spacing: 0;
}
.background-five .container .adv li {
  border: 0;
  height: 150px;
  width: 200px;
  float: left;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.6);
}
.background-six .menu {
  position: absolute;
  list-style: none;
  top: 150px;
  left: 50px;
  width: 60px;
  padding: 0px;
}
.background-six .menu li {
  position: relative;
  color: #888;
  font-size: 16px;
  text-align: center;
  padding: 10px 0px;
  cursor: pointer;
  z-index: 30;
  -webkit-transition: all 0s ease-in-out 0.2s;
  -moz-transition: all 0s ease-in-out 0.2s;
  -ms-transition: all 0s ease-in-out 0.2s;
  -o-transition: all 0s ease-in-out 0.2s;
  transition: all 0s ease-in-out 0.2s;
  color: #ffffff;
}
.background-six .menu li.active {
  color: #ffffff;
}
.background-six .menu .sl.big {
  position: absolute;
  padding: 0px;
  top: 0px;
  left: 0px;
  width: 60px !important;
  height: 126px !important;
  background: #000;
  -moz-opacity: 0.5;
  opacity: 0.5;
  filter: alpha(opacity=50);
  z-index: 10;
}
.background-six .menu .sl.small {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 60px;
  height: 20px;
  background: #1d70ed;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  z-index: 20;
}
.background-six .slide-container {
  position: relative;
  top: 180px;
  left: 300px;
}
.background-six .slide-container .slide-back {
  will-change: transform;
}
.background-six .slide-container .slider {
  width: 100%;
}
.background-six .slide-container .view1 h2 {
  color: #1d70ed;
}
.background-six .slide-container .view1 .mid {
  font-size: 20px;
}
.background-six .slide-container .view2 .mid {
  width: 480px;
  font-size: 20px;
}
.background-six .slide-container .view3 .left {
  float: left;
  margin-right: 30px;
}
.background-six .slide-container .view3 .right h3 {
  color: #1d70ed;
}
.background-six .slide-container .view3 .right div {
  margin: 5px 0;
}
